body {
    margin: 0;
    padding: 0;
}

#table-container{
    display:none;
    margin:1%;
    padding:1%;
}


#row-id{
    display: none;
}


table {
    border-collapse: collapse;
    background-color: #efd4bb;
    width: 100%;
}

th {
    border: 2px solid white;
    padding: 4px;
    background-color: black;
    color:white;
    cursor: pointer;
}

th:hover {
    background: teal
}

td {
    border: 2px solid white;
    padding: 4px;

}

#table-buttons {
    vertical-align: middle;
    text-align: right;
}

#search-container {
    margin:5px;
}

#search-container>label{
    display: inline-block;
    min-width: 20%;
    font-size: 1.2em;
}
#search-container>input{
    display: inline-block;
    min-width: 300px;
    min-height: 30px;
    outline: none;
    border-radius:4px;
    border: 1px solid #d1d1d1;
}
#search-container>input:focus{
    border: 1px solid teal;
}

#createNew{
    background-color: blue;
    border-color: white;
    color: white;
    height: 35px;
    margin-top:1%;

}

label {
    display: inline-block;
    min-width: 25%
}

legend {
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
}

#form-container {
    margin: 1%;
    padding: 1%;
    border: 2px solid black;
}
legend {
    display: block;
    text-align: center;
}


#name, #address, #rating, #picture{
    display: inline-block;
    height: 30px;
    width: 280px;
    border:1px solid #d1d1d1;
    border-radius:4px;
}

#picture{
    width: 285px;
}

#previewImg {
    display: none;
    margin-top:1%;
    margin-left: 30%;
    height: 90px;
    width: 120px;

}

.form-field {
    margin:5px;
}


.form-submit-reset{
    display: flex;
    justify-content: end;
}

#backToTable{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-left: 80%;
    display: flex;
    justify-content: end;
}


.redButton {
    background-color:#ed611c;
    border-color: white;
    width: 80px;
    height: 35px;
    margin:0.5%;
}

.greenButton {
    background-color: #4db051;
    border-color: white;
    width: 80px;
    height: 35px;
    margin:0.5%;
}

